on:
  workflow_dispatch:
  push:
    branches:
      - main
    tags:
      - v*
  pull_request:
    branches:
      - main
  merge_group:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        target: [
            # https://docs.godotengine.org/en/stable/about/system_requirements.html
            { vcpkg_triplet: x64-linux, os: ubuntu-24.04 },
            { vcpkg_triplet: x86-linux, os: ubuntu-24.04 },
            { vcpkg_triplet: arm64-linux, os: ubuntu-24.04-arm },
            { vcpkg_triplet: arm-linux, os: ubuntu-24.04-arm },
            { vcpkg_triplet: x64-mingw-static, os: windows-2025 },
            { vcpkg_triplet: x86-mingw-static, os: windows-2025 },
            { vcpkg_triplet: arm64-mingw-static, os: windows-2025 },
            { vcpkg_triplet: x64-windows-static, os: windows-2025 }, # MSVC instead of mingw
            { vcpkg_triplet: x86-windows-static, os: windows-2025 }, # MSVC instead of mingw
            { vcpkg_triplet: arm64-windows-static, os: windows-2025 }, # MSVC instead of mingw
            { vcpkg_triplet: arm64-osx, os: macos-15 },
            { vcpkg_triplet: x64-osx, os: macos-15 },
            { vcpkg_triplet: wasm32-emscripten-pic, os: ubuntu-24.04 },
            { vcpkg_triplet: x64-android, os: ubuntu-24.04 },
            { vcpkg_triplet: x86-android, os: ubuntu-24.04 },
            { vcpkg_triplet: arm64-android, os: ubuntu-24.04 },
            { vcpkg_triplet: arm-android, os: ubuntu-24.04 },
            { vcpkg_triplet: arm64-ios, os: macos-15 },
          ]
        # Note: vcpkg forces building both Debug and Release on a single run. This is not the same as the templates!
        target-type: [template_debug, template_release]
        float-precision: [single] # TODO: , "double"
    runs-on: ${{ matrix.target.os }}
    permissions:
      actions: write
    steps:
      - name: Free disk space (Ubuntu)
        if: matrix.target.os == 'ubuntu-24.04' || matrix.target.os == 'ubuntu-24.04-arm'
        shell: bash
        run: |
          set -e
          sudo rm -rf /usr/share/dotnet /opt/ghc /opt/hostedtoolcache/CodeQL
          sudo docker image prune --all --force
          sudo docker builder prune -a

      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          submodules: recursive

      - name: Setup for x86 Linux
        if: matrix.target.vcpkg_triplet == 'x86-linux'
        shell: bash
        run: |
          set -e
          sudo apt-get update
          sudo apt-get install -y gcc-multilib g++-multilib

      - name: Setup for ARM Linux
        if: matrix.target.vcpkg_triplet == 'arm-linux'
        shell: bash
        run: |
          set -e
          sudo apt-get update
          sudo apt-get install -y gcc-arm-linux-gnueabihf g++-arm-linux-gnueabihf
          echo "cmake_extra_args='-DCMAKE_C_COMPILER=arm-linux-gnueabihf-gcc', '-DCMAKE_CXX_COMPILER=arm-linux-gnueabihf-g++'" >> $GITHUB_ENV

      - name: Install system dependencies (Ubuntu)
        if: matrix.target.os == 'ubuntu-24.04' || matrix.target.os == 'ubuntu-24.04-arm'
        shell: bash
        run: |
          set -e
          arch_selector=""
          if [ "${{ matrix.target.vcpkg_triplet }}" == "x86-linux" ]; then
            arch_selector=":i386"
            sudo dpkg --add-architecture i386
          elif [ "${{ matrix.target.vcpkg_triplet }}" == "arm-linux" ]; then
            arch_selector=":armhf"
            sudo dpkg --add-architecture armhf
          fi
          sudo apt-get update
          sudo apt-get install -y "libx11-dev${arch_selector}" "libgl1-mesa-dev${arch_selector}" "libfontconfig-dev${arch_selector}"

      - name: Setup MinGW (Windows)
        if: matrix.target.os == 'windows-2025' && contains(matrix.target.vcpkg_triplet, '-mingw')
        uses: egor-tensin/setup-mingw@v2
        with:
          version: 12.2.0 # It seems like newer versions are broken (follow godot-cpp)

      - name: Set LDFLAGS (Windows)
        if: matrix.target.os == 'windows-2025'
        shell: bash
        run: |
          set -e
          echo 'LDFLAGS=-Wl,-allow-multiple-definition' >> $GITHUB_ENV

      - name: Install build tools (macOS)
        if: matrix.target.os == 'macos-15'
        shell: bash
        run: |
          set -e
          brew install autoconf automake autoconf-archive

      - name: Setup Emscripten
        if: matrix.target.vcpkg_triplet == 'wasm32-emscripten-pic'
        uses: mymindstorm/setup-emsdk@v14
        with:
          version: 4.0.12 # More recent than Godot's default, since we need allow-multiple-definition support

      - name: Configure Emscripten CMake args
        if: matrix.target.vcpkg_triplet == 'wasm32-emscripten-pic'
        shell: bash
        run: |
          set -e
          echo "cmake_extra_args='-DGODOTCPP_THREADS=OFF'" >> $GITHUB_ENV

      - name: Setup Android NDK
        if: contains(matrix.target.vcpkg_triplet, '-android')
        uses: nttld/setup-ndk@v1
        id: setup-ndk
        with:
          ndk-version: r23c # Same as https://github.com/godotengine/godot/blob/<GODOT_VERSION>/platform/android/detect.py

      - name: Set Android NDK path
        if: contains(matrix.target.vcpkg_triplet, '-android')
        shell: bash
        run: |
          set -e
          echo "ANDROID_NDK_HOME=${{ steps.setup-ndk.outputs.ndk-path }}" >> $GITHUB_ENV

      - name: Restore vcpkg cache
        shell: bash
        run: |
          set -e
          ARTIFACT_INSTALLED="vcpkg-installed-${{ matrix.target.vcpkg_triplet }}-${{ matrix.target-type }}-${{ matrix.float-precision }}"
          ARTIFACT_BUILDTREES="vcpkg-buildtrees-packages-${{ matrix.target.vcpkg_triplet }}-${{ matrix.target-type }}-${{ matrix.float-precision }}"
          echo "${{ secrets.GITHUB_TOKEN }}" | gh auth login --with-token
          download_artifact_overwrite() {
            local workflow_id="$1"
            local artifact_name="$2"
            local dir="$3"
            local artifact_url
            artifact_url=$(gh api "repos/${{ github.repository }}/actions/runs/$workflow_id/artifacts" --jq ".artifacts[] | select(.name == \"$artifact_name\") | .archive_download_url")
            if [ -z "$artifact_url" ]; then
              echo "- Artifact $artifact_name not found for workflow $workflow_id"
              return 1
            fi
            echo "- Downloading $artifact_name from $artifact_url..."
            curl -L "$artifact_url" -o "$dir/$artifact_name.zip" --fail --silent --show-error
            unzip -o "$dir/$artifact_name.zip" -d "$dir"
            rm "$dir/$artifact_name.zip"
          }
          success=false
          delete_artifacts=true
          branches=("${{ github.ref_name }}")
          if [ "${{ github.ref_name }}" != "main" ]; then
            branches+=("main")
          fi
          for branch in "${branches[@]}"; do
            if [ "$success" = "true" ]; then break; fi
            workflow_ids=$(gh run list --workflow="${{ github.workflow }}" --branch="$branch" --json databaseId --limit 10 --jq '[.[] | .databaseId]')
            for workflow_id in $(echo "$workflow_ids" | jq -r '.[]' | tr -d '\r'); do
              if [ "$success" != "true" ] && \
                  download_artifact_overwrite "$workflow_id" "$ARTIFACT_INSTALLED" / && \
                  download_artifact_overwrite "$workflow_id" "$ARTIFACT_BUILDTREES" /; then
                echo "Successfully downloaded artifacts from workflow $workflow_id on branch $branch."
                success=true
              elif [ "$success" == "true" ] && [ "$delete_artifacts" = "true" ]; then
                echo "Deleting artifacts with matching names from older workflow $workflow_id on branch $branch"
                artifact_ids=$(gh api repos/${{ github.repository }}/actions/runs/$workflow_id/artifacts --jq '.artifacts[] | select(.name == "'"$ARTIFACT_INSTALLED"'" or .name == "'"$ARTIFACT_BUILDTREES"'") | .id')
                for id in $artifact_ids; do
                  echo "- Deleting artifact $id"
                  gh api -X DELETE repos/${{ github.repository }}/actions/artifacts/$id || true
                done
              else
                echo "Failed to download artifacts from workflow $workflow_id on branch $branch, trying next..."
              fi
            done
            delete_artifacts=false
          done
          if [ "$success" != "true" ]; then
            echo "::warning ::Failed to download and extract previous vcpkg installed artifacts from any of the last 10 workflows on current branch or main branch, skipping cache..."
          fi

      - name: Install and configure ccache
        shell: bash
        run: |
          set -e
          CCACHE_VERSION=4.12.3  # TODO: Enable renovate updates
          echo "CCACHE_VERSION=$CCACHE_VERSION" >> $GITHUB_ENV
          echo "CCACHE_VERSION is $CCACHE_VERSION"
          if [ "$RUNNER_OS" = "Linux" ]; then
            if [ "$RUNNER_ARCH" = "ARM64" ]; then
              ASSET="ccache-${CCACHE_VERSION}-linux-aarch64.tar.xz"
            else
              ASSET="ccache-${CCACHE_VERSION}-linux-x86_64.tar.xz"
            fi
          elif [ "$RUNNER_OS" = "macOS" ]; then
              ASSET="ccache-${CCACHE_VERSION}-darwin.tar.gz" # Universal (aarch64 + x86_64)
          elif [ "$RUNNER_OS" = "Windows" ]; then
            ASSET="ccache-${CCACHE_VERSION}-windows-i686.zip"
          fi
          echo "ASSET is $ASSET"
          curl -L "https://github.com/ccache/ccache/releases/download/v${CCACHE_VERSION}/${ASSET}" -o ccache-archive
          echo "Downloaded ccache-archive, size: $(ls -lh ccache-archive | awk '{print $5}')"
          echo "File type: $(file ccache-archive 2>/dev/null || echo 'file command not available')"
          if [ "$RUNNER_OS" = "Windows" ]; then
            unzip ccache-archive
          else
            tar -xf ccache-archive
          fi
          mv ccache-${CCACHE_VERSION}-* ccache
          if [ "$RUNNER_OS" = "Windows" ]; then
            echo "cmake_extra_args=-DCMAKE_PROGRAM_PATH=$PWD/ccache ${{ env.cmake_extra_args }}" >> $GITHUB_ENV  # Otherwise breaks powershell
          else
            echo "PATH=$PWD/ccache:$PATH" >> $GITHUB_ENV
          fi
          $PWD/ccache/ccache --set-config max_size=2G

      - name: Install and build with vcpkg
        shell: bash
        if: "! (contains(matrix.target.vcpkg_triplet, '-windows-static') && github.ref_type != 'tag')"
        run: |
          set -e
          echo "$GD_CMAKE_ARGS" >__GD_CMAKE_ARGS
          "vcpkg/bootstrap-vcpkg${{matrix.target.os == 'windows-2025' && '.bat' || '.sh'}}"
          "vcpkg/vcpkg${{matrix.target.os == 'windows-2025' && '.exe' || ''}}" remove gdext --classic || true
          "vcpkg/vcpkg${{matrix.target.os == 'windows-2025' && '.exe' || ''}}" install gdext --classic
        env:
          VCPKG_DISABLE_METRICS: 1
          VCPKG_DEFAULT_TRIPLET: ${{ matrix.target.vcpkg_triplet }}
          VCPKG_OVERLAY_TRIPLETS: vcpkg_triplets
          VCPKG_OVERLAY_PORTS: vcpkg_ports
          GD_CMAKE_ARGS: -DGODOTCPP_TARGET=${{ matrix.target-type }} -DGODOTCPP_PRECISION=${{ matrix.float-precision }} ${{ env.cmake_extra_args }}

      - name: Copy DLLs (Windows MinGW)
        if: matrix.target.os == 'windows-2025' && ! (contains(matrix.target.vcpkg_triplet, '-windows-static') && github.ref_type != 'tag')
        shell: bash
        run: |
          set -e
          find vcpkg/buildtrees/gdext -name "*.dll" -print -exec cp {} demo/addons/*/ \;

      - name: Clean and determine cache directories
        shell: bash
        if: always() && ! (contains(matrix.target.vcpkg_triplet, '-windows-static') && github.ref_type != 'tag')
        run: |
          set -e
          ccache --show-stats || sccache --show-stats
          start_time=$(date -r vcpkg/vcpkg +%s 2>/dev/null || date +%s)
          current_time=$(date +%s)
          elapsed=$((current_time - start_time))
          ccache --evict-older-than ${elapsed}s --verbose 2>&1
          if command -v ccache >/dev/null 2>&1; then
            CCACHE_DIR=$(ccache --show-config | grep 'cache_dir' | cut -d ' ' -f 4)
            CCACHE_DIR=$(echo "$CCACHE_DIR" | sed 's|\\|/|g; s|^([a-zA-Z]):|/\\L\1|')
            echo "CCACHE_DIR=$CCACHE_DIR" | tee -a $GITHUB_ENV
          fi
          if command -v sccache >/dev/null 2>&1; then
            SCCACHE_DIR=$(sccache --show-stats | grep "Cache location" | cut -d '"' -f2)
            SCCACHE_DIR=$(echo "$SCCACHE_DIR" | sed 's|\\|/|g; s|^([A-Z]):|/\\L\1|')
            echo "SCCACHE_DIR=$SCCACHE_DIR" | tee -a $GITHUB_ENV
          fi

      - name: Upload addon artifact
        uses: actions/upload-artifact@v6
        if: "! (contains(matrix.target.vcpkg_triplet, '-windows-static') && github.ref_type != 'tag')"
        with:
          name: gdext-${{ matrix.target.vcpkg_triplet }}-${{ matrix.target-type }}-${{ matrix.float-precision }}
          path: |
            demo/addons/*/*
            .fake-path-to-force-root-directory

      - name: Upload vcpkg installed artifact
        uses: actions/upload-artifact@v6
        if: always() && ! (contains(matrix.target.vcpkg_triplet, '-windows-static') && github.ref_type != 'tag')
        with:
          name: vcpkg-installed-${{ matrix.target.vcpkg_triplet }}-${{ matrix.target-type }}-${{ matrix.float-precision }}
          path: | # /tmp/ forces consistant root directory to /
            vcpkg/installed/
            ${{ env.CCACHE_DIR }}
            ${{ env.SCCACHE_DIR }}
            /.fake-path-to-force-root-directory

      - name: Upload vcpkg buildtrees artifact
        uses: actions/upload-artifact@v6
        if: always() && ! (contains(matrix.target.vcpkg_triplet, '-windows-static') && github.ref_type != 'tag')
        with:
          name: vcpkg-buildtrees-packages-${{ matrix.target.vcpkg_triplet }}-${{ matrix.target-type }}-${{ matrix.float-precision }}
          path: | # /tmp/ forces consistant root directory to /
            vcpkg/buildtrees/
            vcpkg/packages/
            vcpkg/downloads/
            /.fake-path-to-force-root-directory
      # </Cache save and export artifacts>

  test_and_export_addon_and_demo:
    strategy:
      fail-fast: false
      matrix:
        export_target: # TODO: All architectures (although this is just a demo)
          [
            { os: ubuntu-24.04, export_name: Linux },
            { os: ubuntu-24.04, export_name: Web },
            { os: ubuntu-24.04, export_name: Android },
            { os: windows-2025, export_name: "Windows Desktop" },
            { os: macos-15, export_name: macOS },
            { os: ubuntu-24.04, export_name: iOS }, # I do not have a developer account (which is required to actually build the app on macos), instead use ubuntu and just export the code to compile.
          ]
        mode: [debug, release]
    runs-on: ${{ matrix.export_target.os }}
    needs: build
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          submodules: recursive

      - name: Download addon artifacts
        uses: actions/download-artifact@v7
        with:
          pattern: gdext-*
          merge-multiple: true

      - name: Setup Android NDK
        if: matrix.export_target.export_name == 'Android'
        uses: nttld/setup-ndk@v1
        id: setup-ndk
        with:
          ndk-version: r23c

      - name: Set Android NDK path
        if: matrix.export_target.export_name == 'Android'
        shell: bash
        run: |
          set -e
          echo "ANDROID_NDK_HOME=${{ steps.setup-ndk.outputs.ndk-path }}" >> $GITHUB_ENV

      - name: Setup Android keystore
        if: matrix.export_target.export_name == 'Android' && matrix.mode == 'release'
        shell: bash
        run: |
          set -e
          sudo apt-get update
          sudo apt-get install -y openjdk-17-jdk
          keytool -genkeypair -v -storetype PKCS12 -keystore ${{ github.workspace }}/demo/android_keystore.p12 -alias androidkey -keyalg RSA -keysize 2048 -validity 10000 -storepass android -keypass android -dname "CN=Unknown, OU=Unknown, O=Unknown, L=Unknown, ST=Unknown, C=Unknown"
          echo "GODOT_ANDROID_KEYSTORE_RELEASE_PATH=${{ github.workspace }}/demo/android_keystore.p12" >> $GITHUB_ENV
          echo "GODOT_ANDROID_KEYSTORE_RELEASE_USER=androidkey" >> $GITHUB_ENV
          echo "GODOT_ANDROID_KEYSTORE_RELEASE_PASSWORD=android" >> $GITHUB_ENV

      - name: Setup Godot
        uses: chickensoft-games/setup-godot@v2
        with:
          version: 4.6.0
          use-dotnet: false
          include-templates: true

      - name: Run Godot editor
        shell: bash
        run: |
          set -e
          godot --path demo --editor --quit --headless || true

      - name: Run demo test
        shell: bash
        if: matrix.export_target.export_name == 'Linux' || matrix.export_target.export_name == 'Windows Desktop' || matrix.export_target.export_name == 'macOS'
        run: |
          set -e
          godot --path demo --quit --headless

      - name: Export demo
        shell: bash
        run: |
          set -e
          mkdir demo/exports
          godot --export-${{ matrix.mode }} "${{ matrix.export_target.export_name }}" --path demo --headless
          echo "EXPORT_NAME=$(echo "${{ matrix.export_target.export_name }}" | tr '[:upper:]' '[:lower:]' | tr -d ' /')" >> $GITHUB_ENV

      - name: Upload demo export artifact
        uses: actions/upload-artifact@v6
        with:
          name: demo-export-${{ env.EXPORT_NAME }}-${{ matrix.mode }}
          path: demo/exports/**

      - name: Prepare addon export
        if: matrix.export_target.export_name == 'Linux' && matrix.mode == 'release'
        shell: bash
        run: |
          set -e
          mkdir -p addon-export && cp -r demo/addons addon-export

      - name: Upload addon artifact
        uses: actions/upload-artifact@v6
        if: matrix.export_target.export_name == 'Linux' && matrix.mode == 'release'
        with:
          name: addon
          path: addon-export

  release:
    runs-on: ubuntu-24.04
    needs: test_and_export_addon_and_demo
    if: github.ref_type == 'tag'
    permissions:
      contents: write
    steps:
      - name: Download addon artifact
        uses: actions/download-artifact@v4
        with:
          name: addon
          path: .

      - name: Create addon zip
        shell: bash
        run: |
          set -e
          zip -r addon.zip addons

      - name: Upload to release
        shell: bash
        run: |
          set -e
          gh release upload ${{ github.ref_name }} addon.zip

  deploy-pages:
    runs-on: ubuntu-24.04
    needs: test_and_export_addon_and_demo
    if: github.ref_type == 'tag'
    permissions:
      contents: read
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Download web demo artifact
        uses: actions/download-artifact@v4
        with:
          name: demo-export-web-release
          path: web

      - name: Upload pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: web

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
