on:
  workflow_call:
  push:
    branches:
      - "main"
    tags:
      - "v*"
  pull_request:
    branches:
      - "main"
  merge_group:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        target: [
            # https://docs.godotengine.org/en/stable/about/system_requirements.html
            # { vcpkg_triplet: "x64-linux", os: "ubuntu-24.04" },
            # { vcpkg_triplet: "x86-linux", os: "ubuntu-24.04" },
            # { vcpkg_triplet: "arm64-linux", os: "ubuntu-24.04-arm" },
            # { vcpkg_triplet: "arm-linux", os: "ubuntu-24.04-arm" },
            # { vcpkg_triplet: "x64-mingw-static", os: "windows-2025" },
            # { vcpkg_triplet: "x86-mingw-static", os: "windows-2025" },
            # { vcpkg_triplet: "arm64-mingw-static", os: "windows-2025" },
            # { vcpkg_triplet: "x64-windows-static", os: "windows-2025" }, # MSVC instead of mingw
            # { vcpkg_triplet: "x86-windows-static", os: "windows-2025" }, # MSVC instead of mingw
            # { vcpkg_triplet: "arm64-windows-static", os: "windows-2025" }, # MSVC instead of mingw
            # { vcpkg_triplet: "arm64-osx", os: "macos-15" },
            # { vcpkg_triplet: "x64-osx", os: "macos-15" },
            { vcpkg_triplet: "wasm32-emscripten-pic", os: "ubuntu-24.04" },
            # { vcpkg_triplet: "x64-android", os: "ubuntu-24.04" },
            # { vcpkg_triplet: "x86-android", os: "ubuntu-24.04" },
            # { vcpkg_triplet: "arm64-android", os: "ubuntu-24.04" },
            # { vcpkg_triplet: "arm-android", os: "ubuntu-24.04" },
            # { vcpkg_triplet: "arm64-ios", os: "macos-15" },
          ]
        # Note: vcpkg forces building both Debug and Release on a single run. This is not the same as the templates!
        target-type: [
            # "template_debug",
            "template_release",
          ]
        float-precision: ["single"] # TODO: , "double"

    runs-on: "${{ matrix.target.os }}"
    steps:
      - if: "matrix.target.os == 'ubuntu-24.04' || matrix.target.os == 'ubuntu-24.04-arm'"
        run: | # Free a bunch of disk space
          sudo rm -rf /usr/share/dotnet /opt/ghc /opt/hostedtoolcache/CodeQL
          sudo docker image prune --all --force
          sudo docker builder prune -a

      - uses: "actions/checkout@v5"
        with:
          submodules: "recursive"

      # <Triplet-specific setup>
      - if: "matrix.target.vcpkg_triplet == 'x86-linux'"
        run: "sudo apt-get update && sudo apt-get install -y gcc-multilib g++-multilib"
      - if: "matrix.target.vcpkg_triplet == 'arm-linux'"
        run: 'sudo apt-get update && sudo apt-get install -y gcc-arm-linux-gnueabihf g++-arm-linux-gnueabihf && echo "cmake_extra_args=''-DCMAKE_C_COMPILER=arm-linux-gnueabihf-gcc'', ''-DCMAKE_CXX_COMPILER=arm-linux-gnueabihf-g++''" >> $GITHUB_ENV'
      - if: "matrix.target.os == 'ubuntu-24.04' || matrix.target.os == 'ubuntu-24.04-arm'"
        run:
          | # Need to install some system dependencies (for the target platform! not the host)
          set -ex
          arch_selector=""
          if [ "${{ matrix.target.vcpkg_triplet }}" == "x86-linux" ]; then
            arch_selector=":i386"
            sudo dpkg --add-architecture i386
          elif [ "${{ matrix.target.vcpkg_triplet }}" == "arm-linux" ]; then
            arch_selector=":armhf"
            sudo dpkg --add-architecture armhf
          fi # Others use the native architecture
          sudo apt-get update && sudo apt-get install -y "libx11-dev${arch_selector}" "libgl1-mesa-dev${arch_selector}" "libfontconfig-dev${arch_selector}"
      - if: "matrix.target.os == 'windows-2025' && contains(matrix.target.vcpkg_triplet, '-mingw')"
        uses: "egor-tensin/setup-mingw@v2"
        with:
          version: "12.2.0" # It seems like newer versions are broken (follow godot-cpp)
      - if: "matrix.target.os == 'windows-2025'"
        run: "echo 'LDFLAGS=-Wl,-allow-multiple-definition' >> $GITHUB_ENV"
      - if: "matrix.target.os == 'macos-15'"
        run: "brew install autoconf automake autoconf-archive"
      - if: "matrix.target.vcpkg_triplet == 'wasm32-emscripten-pic'"
        uses: "mymindstorm/setup-emsdk@v14"
        with:
          version: "4.0.12" # More recent than Godot's default, since we need allow-multiple-definition support
      - if: "matrix.target.vcpkg_triplet == 'wasm32-emscripten-pic'"
        run: |
          echo "cmake_extra_args='-DGODOTCPP_THREADS=OFF'" >> $GITHUB_ENV
          echo 'LDFLAGS=-Wl,-allow-multiple-definition' >> $GITHUB_ENV
      - if: "contains(matrix.target.vcpkg_triplet, '-android')"
        uses: "nttld/setup-ndk@v1"
        id: "setup-ndk"
        with:
          ndk-version: "r23c" # Same as https://github.com/godotengine/godot/blob/<GODOT_VERSION>/platform/android/detect.py
          link-to-sdk: true
      - if: "contains(matrix.target.vcpkg_triplet, '-android')"
        run: 'echo "ANDROID_NDK_HOME=${{ steps.setup-ndk.outputs.ndk-path }}" >> $GITHUB_ENV'
      # </Triplet-specific setup>
      #
      # <Cache restore>
      - shell: "bash" # Restore from previous artifacts that are used as caches due to size limitations of caches
        run: |
          set -ex
          echo "${{ secrets.GITHUB_TOKEN }}" | gh auth login --with-token
          workflow_ids=$(gh run list --workflow="${{ github.workflow }}" --branch="${{ github.ref_name }}" --json databaseId --limit 10 --jq '[.[] | .databaseId]')
          success=false
          for workflow_id in $(echo "$workflow_ids" | jq -r '.[]' | tr -d '\r'); do
            echo "Attempting to download artifacts from workflow $workflow_id..."
            if gh run download "$workflow_id" --name "vcpkg-installed-${{ matrix.target.vcpkg_triplet }}-${{ matrix.target-type }}-${{ matrix.float-precision }}" && \
               gh run download "$workflow_id" --name "vcpkg-buildtrees-packages-${{ matrix.target.vcpkg_triplet }}-${{ matrix.target-type }}-${{ matrix.float-precision }}"; then
              echo "Successfully downloaded artifacts from workflow $workflow_id."
              success=true
              break
            else
              echo "Failed to download artifacts from workflow $workflow_id, trying next..."
            fi
          done
          if [ "$success" != "true" ]; then
            echo "::warning ::Failed to download and extract previous vcpkg installed artifacts from any of the last 10 workflows, skipping cache..."
          fi
      - uses: mozilla-actions/sccache-action@0.0.9
        with:
          disable_annotations: true
      - shell: "bash"
        run: | # Check and warn
          echo "SCCACHE_DIR=.cache/sccache" >> $GITHUB_ENV
          echo "SCCACHE_CACHE_SIZE=2G" >> $GITHUB_ENV
          which sccache
          sccache --version || echo "::warning ::sccache not found in PATH"
          sccache --zero-stats || true
          sccache --show-stats || true
          [ -d vcpkg/installed/ ] || echo "::warning ::vcpkg/installed/ directory not found (no cache available)"
          [ -d ".cache/ccache" ] || echo "::warning ::.cache/ccache directory not found (no cache available)"
      # </Cache restore>
      #
      # <Install and build>
      - shell: "bash"
        run:
          | # HACK: Customize the vcpkg install of the main repo package with custom CMAKE_ARGS
          set -ex
          echo "$GD_CMAKE_ARGS" >__GD_CMAKE_ARGS # Alternative way to pass the variable (required for windows?)
          "vcpkg/bootstrap-vcpkg${{matrix.target.os == 'windows-2025' && '.bat' || '.sh'}}"
          "vcpkg/vcpkg${{matrix.target.os == 'windows-2025' && '.exe' || ''}}" remove sqlite3-gd --classic || true  # Avoid caching too much
          "vcpkg/vcpkg${{matrix.target.os == 'windows-2025' && '.exe' || ''}}" install sqlite3-gd --classic
        env:
          VCPKG_DISABLE_METRICS: "1"
          VCPKG_DEFAULT_TRIPLET: "${{ matrix.target.vcpkg_triplet }}"
          VCPKG_OVERLAY_TRIPLETS: "vcpkg_triplets"
          VCPKG_OVERLAY_PORTS: "vcpkg_ports"
          GD_CMAKE_ARGS: "-DGODOTCPP_TARGET=${{ matrix.target-type }} -DGODOTCPP_PRECISION=${{ matrix.float-precision }} ${{ env.cmake_extra_args }}"
      - if: "matrix.target.os == 'windows-2025'"
        shell: "bash" # For some unknown reason, cmake + windows does not install the dll to the proper folder, do it here...
        run: find vcpkg/buildtrees/sqlite3-gd -name "*.dll" -print -exec cp {} "demo/addons/sqlite3.gd/" \;
      # </Install and build>
      #
      # <Cache save and export artifacts>
      - uses: "actions/upload-artifact@v6"
        with: # Build main artifact with only the addon files
          name: "sqlite3.gd-${{ matrix.target.vcpkg_triplet }}-${{ matrix.target-type }}-${{ matrix.float-precision }}"
          path: "demo/addons/sqlite3.gd/**"
      - uses: "actions/upload-artifact@v6"
        if: "always()"
        with: # Build artifact useful for caching/debugging
          name: "vcpkg-installed-${{ matrix.target.vcpkg_triplet }}-${{ matrix.target-type }}-${{ matrix.float-precision }}"
          path: |
            vcpkg/installed/
            .cache/ccache/
      - uses: "actions/upload-artifact@v6"
        if: "always()"
        with: # Build artifact useful for caching/debugging (less important and bigger but useful if enough storage available)
          name: "vcpkg-buildtrees-packages-${{ matrix.target.vcpkg_triplet }}-${{ matrix.target-type }}-${{ matrix.float-precision }}"
          path: |
            vcpkg/buildtrees/
            vcpkg/packages/
            vcpkg/downloads/
      # </Cache save and export artifacts>

  test_and_export_addon_and_demo:
    strategy:
      fail-fast: false
      matrix:
        export_target: [
            # { os: "ubuntu-24.04", export_name: "Linux" },
            { os: "ubuntu-24.04", export_name: "Web" },
            # { os: "ubuntu-24.04", export_name: "Android" },
            # { os: "windows-2025", export_name: "Windows Desktop" },
            # { os: "macos-15", export_name: "macOS" },
            # { os: "ubuntu-24.04", export_name: "iOS" }, # I do not have a developer account (which is required to actually build the app on macos), instead use ubuntu and just export the code to compile.
          ]
        mode: [
            # "debug",
            "release",
          ]
    runs-on: "${{ matrix.export_target.os }}"
    needs: "build"
    steps:
      - uses: "actions/checkout@v5"
        with:
          submodules: "recursive"
      - uses: "actions/download-artifact@v7"
        with:
          pattern: "sqlite3.gd-*"
          path: "demo/addons/sqlite3.gd"
          merge-multiple: true
      - if: "matrix.export_target.export_name == 'Android'"
        uses: "nttld/setup-ndk@v1"
        id: "setup-ndk"
        with:
          ndk-version: "r23c"
      - if: "matrix.export_target.export_name == 'Android'"
        run: 'echo "ANDROID_NDK_HOME=${{ steps.setup-ndk.outputs.ndk-path }}" >> $GITHUB_ENV'
      - if: "matrix.export_target.export_name == 'Android' && matrix.mode == 'release'"
        run: |
          sudo apt-get update && sudo apt-get install -y openjdk-17-jdk
          keytool -genkeypair -v -storetype PKCS12 -keystore ${{ github.workspace }}/demo/android_keystore.p12 -alias androidkey -keyalg RSA -keysize 2048 -validity 10000 -storepass android -keypass android -dname "CN=Unknown, OU=Unknown, O=Unknown, L=Unknown, ST=Unknown, C=Unknown"
          echo "GODOT_ANDROID_KEYSTORE_RELEASE_PATH=${{ github.workspace }}/demo/android_keystore.p12" >> $GITHUB_ENV
          echo "GODOT_ANDROID_KEYSTORE_RELEASE_USER=androidkey" >> $GITHUB_ENV
          echo "GODOT_ANDROID_KEYSTORE_RELEASE_PASSWORD=android" >> $GITHUB_ENV
      - uses: chickensoft-games/setup-godot@v2
        with:
          version: 4.6.0
          use-dotnet: false
          include-templates: true
      - if: "matrix.export_target.export_name == 'Android'"
        run: 'echo "ANDROID_NDK_HOME=${{ steps.setup-ndk.outputs.ndk-path }}" >> $GITHUB_ENV'
      - shell: bash
        run: godot --path demo --editor --quit --headless || true # An editor run is always needed for proper imports. crashes after doing what we want, so it is ok
      - shell: bash
        if: "matrix.export_target.export_name == 'Linux' || matrix.export_target.export_name == 'Windows Desktop' || matrix.export_target.export_name == 'macOS'" # Once per platform run demo/test
        run: godot --path demo --quit --headless
      - shell: bash
        run: |
          mkdir demo/exports
          godot --export-${{ matrix.mode }} "${{ matrix.export_target.export_name }}" --path demo --headless
          echo "EXPORT_NAME=$(echo "${{ matrix.export_target.export_name }}" | tr '[:upper:]' '[:lower:]' | tr -d ' /')" >> $GITHUB_ENV
      - uses: "actions/upload-artifact@v6"
        with:
          name: "demo-export-${{ env.EXPORT_NAME }}-${{ matrix.mode }}"
          path: "demo/exports/**"
      - if: "matrix.export_target.export_name == 'Linux' && matrix.mode == 'release'" # Once
        run: mkdir -p addon-export && cp -r demo/addons addon-export
      - uses: "actions/upload-artifact@v6"
        if: "matrix.export_target.export_name == 'Linux' && matrix.mode == 'release'" # Once
        with: # This is the one to publish in the asset store (proper paths)
          name: "addon"
          path: "addon-export"

  release:
    runs-on: "ubuntu-24.04"
    needs: "test_and_export_addon_and_demo"
    if: github.ref_type == 'tag'
    permissions:
      contents: write
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: addon
          path: .
      - run: zip -r addon.zip addons
      - run: gh release upload ${{ github.ref_name }} addon.zip

  deploy-pages:
    runs-on: ubuntu-24.04
    needs: test_and_export_addon_and_demo
    if: github.ref_type == 'tag'
    permissions:
      contents: read
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: demo-export-web-release
          path: web
      - uses: actions/upload-pages-artifact@v3
        with:
          path: web
      - uses: actions/deploy-pages@v4
